# Running Simulations

In [2]:
import numpy as np
from datascience import *

## `np.append` to add items to an array

In [3]:
fruits = make_array("apple")

In [5]:
fruits = np.append(fruits, fruits)

In [6]:
fruits

array(['apple', 'apple'], dtype='<U5')

In [7]:
fruits = np.append(fruits, fruits)

In [8]:
fruits

array(['apple', 'apple', 'apple', 'apple'], dtype='<U5')

In [9]:
fruits = np.append(fruits, fruits)
fruits

array(['apple', 'apple', 'apple', 'apple', 'apple', 'apple', 'apple',
       'apple'], dtype='<U5')

In [10]:
new_fruit = make_array("quince")

In [13]:
new_fruit

array(['quince'], dtype='<U6')

In [15]:
salad = np.append(new_fruit, fruits)

In [17]:
len(salad)

9

In [18]:
salad

array(['quince', 'apple', 'apple', 'apple', 'apple', 'apple', 'apple',
       'apple', 'apple'], dtype='<U6')

## Selecting random values from an array

In [16]:
np.random.choice(salad)

'quince'

In [19]:
np.random.choice(salad)

'apple'

In [20]:
np.random.choice(salad)

'apple'

In [21]:
np.random.choice(salad)

'apple'

In [22]:
np.random.choice(salad)

'apple'

In [23]:
np.random.choice(salad)

'apple'

In [24]:
np.random.choice(salad)

'apple'

In [25]:
np.random.choice(salad)

'apple'

In [26]:
np.random.choice(salad)

'apple'

In [27]:
np.random.choice(salad)

'quince'

## Simulating a coin toss

In [28]:
coin = make_array('H', 'T')

In [36]:
toss_10 = np.random.choice(coin, 10)

In [37]:
toss_10

array(['H', 'T', 'T', 'H', 'T', 'T', 'T', 'H', 'H', 'H'], dtype='<U1')

In [40]:
sum(toss_10 == 'H')

5

In [41]:
np.count_nonzero(toss_10 == 'H')

5

In [45]:
# How often do we get 9 heads when tossing a coin 10 times
result = make_array()
for i in np.arange(10000):
    toss_10 = np.random.choice(coin, 10) # toss a coin 10 times
    num_heads = np.count_nonzero(toss_10 == 'H') # count the num of heads
    result = np.append(result, num_heads)

In [46]:
result

array([4., 4., 5., ..., 4., 4., 5.])

In [47]:
len(result)

10000

In [48]:
sum(result == 9)

91

In [49]:
91/10000

0.0091

In [53]:
for i in np.arange(0, 11):
    print(sum(result == i), "times the coin came up with", i, "heads")

6 times the coin came up with 0 heads
86 times the coin came up with 1 heads
446 times the coin came up with 2 heads
1206 times the coin came up with 3 heads
2075 times the coin came up with 4 heads
2451 times the coin came up with 5 heads
2059 times the coin came up with 6 heads
1155 times the coin came up with 7 heads
421 times the coin came up with 8 heads
91 times the coin came up with 9 heads
4 times the coin came up with 10 heads

In [54]:
coin_toss = Table().with_column("Toss", result)

In [57]:
coin_toss_count = coin_toss.group("Toss")

In [58]:
coin_toss_count

Toss | count
0    | 6
1    | 86
2    | 446
3    | 1206
4    | 2075
5    | 2451
6    | 2059
7    | 1155
8    | 421
9    | 91
... (1 rows omitted)

In [59]:
coin_toss_count.hist("count")

In [60]:
coin_toss

Toss
4
4
5
7
4
2
8
7
6
5
... (9990 rows omitted)

In [62]:
coin_toss.where("Toss", are.above(5)).num_rows

3730

In [63]:
coin_toss.where("Toss", are.below(5)).num_rows

3819

In [64]:
10000 - 3730 - 3819

2451

In [66]:
coin_toss.where("Toss", are.equal_to(5)).num_rows

2451